body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #eee;
  padding: 5px;
}

.col-4 tr td:first-child,
.col-5 tr td:first-child,
.col-5 tr td:nth-child(3),
.col-6 tr td:nth-child(1),
.col-6 tr td:nth-child(3),
.col-6 tr td:nth-child(5) {
  font-size: 20px;
  text-align: center;
}

.col-4 tr td:nth-child(2),
.col-4 tr td:nth-child(3),
.col-5 tr td:nth-child(2),
.col-5 tr td:nth-child(4),
.col-6 tr td:nth-child(2),
.col-6 tr td:nth-child(4),
.col-6 tr td:nth-child(6) {
  font-family: Courier New, monospace;
}

td {
  border: 1px solid black;
  cursor: context-menu;
  padding: 1px 5px;
  position: relative;
}

footer {
  font-size: 9px;
  margin-top: 1em;
}
footer ul {
  margin: 0;
  padding: 0 0 0 2em;
}
footer p {
  margin: 0;
}

td.copy-success::after,
td.copy-failed::after {
  font-size: 16px;
  position: absolute;
  right: 0.2em;
  top: 0.2em;
}
td.copy-success::after {
  color: #088a08;
  content: '\2713';
}
td.copy-failed::after {
  color: #b40404;
  content: '\2717';
}
